# -----------------------------------------------
# META ADS API
# Gere seu token em: developers.facebook.com
# -----------------------------------------------
META_ACCESS_TOKEN=seu_token_aqui
META_AD_ACCOUNT_ID=act_seu_id_aqui

# -----------------------------------------------
# BANCO DE DADOS POSTGRESQL
# -----------------------------------------------
db_host=localhost
db_database=pipeline
db_USER=seu_usuario
db_PASSWORD=sua_senha
